.others {
    height: 100vh;
    text-align: center;
    background: url('/image/others-bg.jpeg') center/cover no-repeat;

    h1 {
        padding-top: 300px;
        letter-spacing: 3px;
        font-size: 42px;
        color: orange;
    }

    h3 {
        letter-spacing: 3px;
        color: orange;
    }
}